
#news {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#about {
    padding: 2rem;
    background-color: black;
    color: white;
}

#footer{
    background-color: black;
    color: white;
}

#contact{
    background-color: black;
    color: white;
}